@charset "UTF-8";

/* 
calSub.jsp의 CSS 부분
*/
.subCalTitle {
	text-align: center;
	font-size: 40px;
	margin-top: 30px;
}

.subCalMenuContent {
	position: absolute;
	width: 300px;
	height: 450px;
	border: 1px solid;
	margin-top: 30px;
	margin-left: 30px;
}

#subCalAddImg {
	position: absolute;
	margin-top: 470px;
	margin-left: 30px;
}

.subCalIconDiv {
	position: absolute;
	margin-left: 350px;
	width: 400px;
	margin-top: 30px;
	height: 270px;
}

.subCalSelectDiv {
	position: absolute;
	width: 120px;
	height: 80px;
	border: 1px solid;
	border-radius: 8px;
}

.subCalIconCheck {
	position: absolute;
	width: 100px;
	height: 50px;
	opacity: 0;
}

.row2 {
	margin-top: 95px;
}

.row3 {
	margin-top: 190px;
}

.col2 {
	margin-left: 140px;
}

.col3 {
	margin-left: 280px;
}

.subCalIcon {
	position: absolute;
}

.subCalInputDiv {
	position: absolute;
	border: 1px solid;
	margin-left: 350px;
	width: 400px;
	height: 35px;
}

.subCalPrice {
	margin-top: 320px;
}

.subCalMenu {
	margin-top: 380px;
}

.subCalInputTitle {
	position: absolute;
	height: 100%;
	font-size: 24px;
}

.subCalInput {
	position: absolute;
	width: 250px;
	height: 80%;
	margin-left: 70px;
}

.subCalBtn {
	height: 50px;
	width: 70px;
	margin-top: 450px;
	float: right;
}

.remove {
	display: none;
	margin-right: 10px;
}

.subCalMsg {
	position: absolute;
	font-size: 30px;
	margin-top: 530px;
	margin-left: 180px;
}

/* 
calendar.jsp의 CSS 부분
*/
.mainCalTotal {
	float: right;
	width: 300px;
	height: 50px;
	border: 1px solid;
}

.mainCalTotalTitle {
	margin: 15px;
	font-size: 15px;
	float: right;
}

.mainCalTotalSum {
	font-size: 20px;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

.mainCalTable {
	border: 1px solid #BDBDBD;
	width: 1100px;
	height: auto;
	border-spacing: 0px;
}

.calendarTd {
	width: 225px;
	height: 120px;
	border-top: 1px solid #BDBDBD;
	border-left: 1px solid #BDBDBD;
	vertical-align: baseline;
}

.tdTitle {
	text-align: center;
	width: 225px;
	height: 40px;
}

.calInnerDiv {
	border: 1px solid;
	width: 70px;
	height: 70px;
	margin-top: 48px;
	float: right;
}