@charset "UTF-8";
html, body, header, nav, section, article, aside, footer {
	margin:0;
	padding:0;
}

div, buttom, img {
	margin:0;
	padding:0;
}

.content {
	height:auto;
	width:1700px;
	margin: auto;
	padding-top: 150px;
}

.mainImage{
	border: 1px solid black;
	height:700px;
	width:1700px;
	margin-top : -5%;
	
}

/* .ingChoice{
	border: 1px solid black;
	height:auto;
	width:100%;	
} */


.choiceline1{
	width : 1700px;
    height : 225px;
    position : relative;
   
	}
	
.choiceline1 div{
     width: 200px;
     height : 200px;
     position : absolute;
     

      }
      
.choiceline2{
	width : 1700px;
    height : 225px;
    position : relative;
    padding-top : 10px;
	}
	
.choiceline2 div{
     width: 200px;
     height : 200px;
     position : absolute;
      }
      
.choiceline3{
	width : 1700px;
    height : 225px;
    position : relative;
    padding-top : 10px;
	}
	
.choiceline3 div{
     width: 200px;
     height : 200px;
     position : absolute;
	  }
	  
.choiceline4{
	width : 1700px;
    height : 225px;
    position : relative;
    padding-top : 10px;
	}
	
.choiceline4 div{
     width: 200px;
     height : 200px;
     position : absolute;
	  }	  
	  
.ingName{
	top: 100px;
	background-color: red;

}

.radioBox{
	margin-top:100%;
	z-index: 100;
}

/* .menuRadio{
	margin-top:90%;
	z-index: 100;
}	 */  

.ingItem1{
	left :5%;
}

.ingItem2{
	left: 29%;
	}


.ingItem3{
	left: 52%;
}

 .ingItem4{
	left: 75%;
}


/* .ingItem5{
	left: 75%;
} */





.menuList{
	
	border : 1px solid black;
	width : 1700ps;
	height : auto;
	/* margin-left: 2%; */
}

.menuCard0{
	padding-top: 20%;
	top:20%;	
	width : 85%;
    height : auto;
    position : relative;
	left:5%;
	

	}
.menuCard1{
	padding-top: 20%;
	top:20%;	
	width : 85%;
    height : auto;
     position : relative;
	left:5%;
	}
.menuCard2{
	padding-top: 20%;
	top:20%;	
	width : 85%;
    height : auto;
     position : relative;
	left:5%;
	}
.menuCard3{
	padding-top: 20%;
	top:20%;	
	width : 85%;
    height : auto;
     position : relative;
	left:5%;
	}
.menuCard4{
	padding-top: 20%;
	top:20%;	
	width : 85%;
    height : auto;
     position : relative;
	left:5%;
	}	
/* .menuCard div{
     border : 1px solid black;
      position : absolute;
      } */

.menuImage{
	position : absolute;
	top:12%;
	left:5%;
	
}


.leval{/* 선택완료 버튼 */
	margin-left :1500px;
	margin-top : 30px; 
}

.myLevel{
	width: 70%;
    height : 76%;
	margin-left : 30%;
	/* opacity: 0; */
	/* display : none; */
}

.myMemu{/* 메뉴보기 버튼 */
	margin-left :1500px;
	margin-top : 30px; 
}


.menuInfo{
	position : relative;
	width: 200px;
    height : 200px;
	top:12%;
	left:27.5%;
		 border : 1px solid black;
	
}

.menuIfram{
	top : 150%; 
	width: 60%; 
	height: 80%; 
	left : 23%; 
	position : absolute;
}