@charset "UTF-8";
html, body, header, nav, section, article, aside, footer {
	margin:0;
	padding:0;
}

div, buttom, img {
	margin:0;
	padding:0;
}

.content {
	height:auto;
	width:80%;
	margin: auto;
	padding-top: 10%;
}

.mainImage{
	border: 1px solid black;
	height:500px;
	width:100%;
	margin-top : -5%;
	
}

.ingChoice{
	border: 1px solid black;
	height:auto;
	width:100%;	
}


.choiceline1{
	width : 100%;
    height : 80%;
    position : relative;
   
	}
	
.choiceline1 div{
     width: 200px;
     height : 200px;
     position : absolute;
     

      }
      
.choiceline2{
	width : 100%;
    height : 80%;
    position : relative;
    padding-top : 23%;
	}
	
.choiceline2 div{
     width: 200px;
     height : 200px;
     position : absolute;
      }
      
.choiceline3{
	width : 100%;
    height : 80%;
    position : relative;
    padding-top : 23%;
	}
	
.choiceline3 div{
     width: 200px;
     height : 200px;
     position : absolute;
	  }
	  
.ingName{
	top: 100px;
	background-color: red;

}

.radioBox{
	margin-top:100%;
	z-index: 100;
}

/* .menuRadio{
	margin-top:90%;
	z-index: 100;
}	 */  

.ingItem1{
	left :7%;
}

.ingItem2{
	left: 40%;
	}


.ingItem3{
	left: 73%;
}


/* .ingItem4{
	left: 60%;
}


.ingItem5{
	left: 75%;
} */





.menuList{
	
	border : 1px solid black;
	width : 85%;
	height : 70%;
	margin-left: 10%;
}

.menuCard{
	padding-top: 20%;
	top:20%;	
	width : 85%;
    height : 43%;
    position : relative;
	left:5%;
	}
	
.menuCard div{
     border : 1px solid black;
      }

.menuImage{
	position : absolute;
	top:12%;
	left:5%;
	
}


.leval{
	margin-left : 87%;
	margin-top : 20%; 
}

.myLevel{
	width: 70%;
    height : 76%;
	margin-left : 35%;
	/* opacity: 0; */
	/* display : none; */
}


.menuInfo{
	position : absolute;
	width: 70%;
    height : 89%;
	top:12%;
	left:27.5%;
	
}

.menuIfram{
	top : 150%; 
	width: 60%; 
	height: 80%; 
	left : 23%; 
	position : absolute;
}