@charset "UTF-8";
html, body, header, nav, section, article, aside, footer {
	margin:0;
	padding:0;
}

div, buttom, img {
	margin:0;
	padding:0;
}

.content {
	height:auto;
	width:80%;
	margin: auto;
	padding-top: 10%;
}

.mainImage{
	border: 1px solid black;
	height:500px;
	width:100%;
	margin-top : -7%;
}

.ingChoice{
	border: 1px solid black;
	height:200px;
	width:100%;	
}

.menuRadio{
	margin-top:90%;
}


.choiceline1{
	width : 100%;
    height : 320px;
    position : relative;
	}
	
.choiceline1 div{
     width: 200px;
     height : 200px;
     border : 1px solid black;
     position : absolute;
      }
      
.choiceline2{
	width : 100%;
    height : 320px;
    position : relative;
	}
	
.choiceline2 div{
     width: 200px;
     height : 200px;
     border : 1px solid black;
     position : absolute;
      }
      
.choiceline3{
	width : 100%;
    height : 320px;
    position : relative;
	}
	
.choiceline3 div{
     width: 200px;
     height : 200px;
     border : 1px solid black;
     position : absolute;
	  }
	  
.ingName{
	top: 100px;
	background-color: red;


}	  

.ingItem1{
	left :15%;
}

.ingItem2{
	left: 30%;
	}


.ingItem3{
	left: 45%;
}


.ingItem4{
	left: 60%;
}


.ingItem5{
	left: 75%;
}


.myLevel{
	 border : 1px solid black;	
}


/* .menuList{
	border : 1px solid black;
	width : 85%;
	height : 70%;
	left: 10%;
} */

.menuCard{
	padding-top: 20%;
	top:20%;	
	width : 85%;
    height : 43%;
	border : 3px solid black;	
    position : relative;
	left:10%;
	}
	
.menuCard div{
     border : 1px solid black;
      }

.menuImage{
	position : absolute;
	top:12%;
	left:5%;
}

.menuInfo{
	position : absolute;
	width: 70%;
    height : 76%;
	top:12%;
	left:25%;
}

.menuIfram{
	padding-left:15%;
	top : 50%;
	width: 75%;
	height: 100%;
	border: 0;
}

